@use "variables";
.about__bg {
  background-image: url(../images/text-bg3.png);
  background-repeat: no-repeat;
  padding: 120px 300px;
  border: 1px solid variables.$grey-15;
  @media (max-width: 1440px) {
   padding: 100px 250px;  
  }
}
.about__title {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  @media (max-width: 1440px) {
   font-size: 38px;  
  }
}
.about__subtitle {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: variables.$grey-90;
  margin-top: 14px;
  max-width: 950px;
  line-height: 1.5;
  @media (max-width: 1440px) {
   font-size: 16px;
   margin-top: 10px;  
  }
}
