@import "variables";
.aside {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: $grey-10;
  padding: 40px 0;
  position: relative;
  border: 1px solid $grey-15;
}
.aside-info {
  position: absolute;
	padding: 20px 34px;
	border-radius: 100px;
	background-color: $grey-10;
  border: 1px solid $grey-15;
	color: $green-99;
	font-size: 18px;
	font-weight: 500;
	top: -40px;
	left: 50%;
	transform: translateX(-50%);
}

.aside-images {
  display: flex;
  justify-content: center;
  gap: 60px;
	align-items: center;
  width: 100%;
}
.aside-image {
  padding: 20px 40px;
}
