@import "variables";
.design__top {
  padding: 50px;
  padding-top: 120px;
  border: 1px solid $grey-15;
}
.design__services {
  border: 1px solid $grey-15;
}
.design__title {
  font-size: 48px;
  font-weight: 600;
}
.design__subtitle {
  font-size: 18px;
  font-weight: 400;
  margin-top: 14px;
  margin-bottom: 50px;
}
.design__info {
  padding: 12px 14px;
  background-color: $grey-15;
  width: 287px;
  border-radius: 8px;
  border: 1px solid $grey-15;
}
.design__category {
  display: flex;
  justify-content: space-between;
}
.design__category-title {
  padding: 50px;
  border: 1px solid $grey-15;
  font-size: 28px;
  font-weight: 500;
  color: $grey-60;
}
.design__category-card {
  padding: 50px;
  border: 1px solid $grey-15;
  width: 100%;
}
.design__category-icon {
  padding: 24px;
  border: 1px solid $grey-15;
  border-radius: 12px;
}
.design__category-text {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
}
