@use "variables";
.engineering__services {
  border: 1px solid variables.$grey-15;
}
.engineering__top {
  padding: 50px;
  padding-top: 120px;
  border: 1px solid variables.$grey-15;
  @media (max-width: 1440px) {
   padding: 40px;
   padding-top: 80px; 
  }
}
.engineering__title {
  font-size: 48px;
  font-weight: 600;
  @media (max-width: 1440px) {
   font-size: 38px; 
  }
}
.engineering__subtitle {
  font-size: 18px;
  font-weight: 400;
  margin-top: 14px;
  margin-bottom: 50px;
  @media (max-width: 1440px) {
   font-size: 16px;
   margin-top: 10px;
   margin-bottom: 40px; 
  }
}
.engineering__info {
  padding: 12px 14px;
  background-color: variables.$grey-15;
  display: inline-block;
  border-radius: 8px;
  border: 1px solid variables.$grey-15;
  @media (max-width: 1440px) {
   padding: 10px;
   font-size: 16px;
  }
}
.engineering__category-title {
  padding: 50px;
  border: 1px solid variables.$grey-15;
  font-size: 28px;
  font-weight: 500;
  color: variables.$grey-60;
  @media (max-width: 1440px) {
   font-size: 22px;
   padding: 40px; 
  }
}
.engineering__category {
  display: flex;
}
.engineering__category-card {
  padding: 50px;
  border: 1px solid variables.$grey-15;
  width: 100%;
  @media (max-width: 1440px) {
    padding: 40px;
  }
}
.engineering__category-icon {
  padding: 24px;
  border: 1px solid variables.$grey-15;
  border-radius: 12px;
  @media (max-width: 1440px) {
   padding: 20px;
   width: 64px;
   height: 64px; 
  }
}
.engineering__category-text {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  @media (max-width: 1440px) {
   margin-top: 24px;
   font-size: 16px; 
  }
}
