@use "variables.scss";
.header {
  padding: 20px 162px;
  border-bottom: 1px solid variables.$grey-15;
}
.header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-right: 40px;
}
.header__nav-link {
  color: variables.$absolute-white;
  font-size: 18px;
  font-weight: 600;
  transition: all .5s;
  &:hover {
    color: variables.$green-60;
  }
}
.active {
  padding: 13px 28px;
  background-color: variables.$grey-15;
  border-radius: 8px;
}
.header__nav-button {
  padding: 16px 24px;
  border-radius: 8px;
  background-color: variables.$green-60;
  font-size: 18px;
  font-weight: 500;
  color: variables.$grey-15;
  margin-right: -15px;
}
