$absolute-white: #fff;
$absolute-black: #000;
$green-50: #9eff00;
$green-60: #b1ff33;
$green-70: #c5ff66;
$green-80: #d8ff99;
$green-90: #ecffcc;
$green-95: #f5ffe5;
$green-97: #f9fff0;
$green-99: #fdfffa;
$grey-10: #1a1a1a;
$grey-15: #262626;
$grey-20: #333;
$grey-30: #4c4c4d;
$grey-35: #59595a;
$grey-40: #656567;
$grey-60: #98989a;
$grey-90: #e6e6e6;
