<div class="about__about">
  <div class="about__content">
    <h2 class="aboutSquareUp__title">About SquareUp</h2>
    <p class="aboutSquareUp__text">SquareUp is a digital product agency that is passionate about crafting exceptional digital experiences. We specialize in design, engineering, and project management, helping businesses thrive in the digital landscape. At SquareUp, we follow a structured and collaborative process to ensure the successful delivery of exceptional digital products. Our process combines industry best practices, creative thinking, and a client-centric approach.</p>
  </div>
  <img src="../assets/images/about-squareup.jpg" alt="" class="aboutSquareUp__image">
</div>