<p class="aside-info">Trusted By 250+ Companies</p>
	<ul class="aside-images">
		<li class="aside-image"><img src="../assets/images/Logo.svg" alt="" class="image"></li>
		<li class="aside-image"><img src="../assets/images/Logo-1.svg" alt="" class="image"></li>
		<li class="aside-image"><img src="../assets/images/Logo-2.svg" alt="" class="image"></li>
		<li class="aside-image"><img src="../assets/images/Logo-3.svg" alt="" class="image"></li>
		<li class="aside-image"><img src="../assets/images/Logo-4.svg" alt="" class="image"></li>
		<li class="aside-image"><img src="../assets/images/Logo-5.svg" alt="" class="image"></li>
	</ul>