<div class="contact__top">
	<img src="../assets/images/icon52.png" alt="" class="contact__logo" />
	<h2 class="contact__title">Thank you for your Interest in SquareUp.</h2>
	<p class="contact__subtitle">
		We would love to hear from you and discuss how we can help bring your digital
		ideas to life. Here are the different ways you can get in touch with us.
	</p>
	<button class="contact__button">Start Project</button>
</div>
<form action="" class="contact__form">
	<div class="contact__form-top">
		<div class="contact__form-name">
			<p class="contact__form-type">Full Name</p>
			<input type="text" class="contact__form-input" placeholder="Type here" />
		</div>
		<div class="contact__form-email">
			<p class="contact__form-type">Email</p>
			<input type="email" class="contact__form-input" placeholder="Type here" />
		</div>
	</div>
	<div class="contact__occasion">
		<p class="contact__occasion-title">Why are you contacting us?</p>
		<ul class="contact__occasion-inputs">
			<li class="contact__occasion-input">
				<input name="checkbox[]" type="checkbox" class="checkbox" id="checkbox-1"/>
				<label for="checkbox-1" class="contact__occasion-text">Web Design</label>
			</li>
			<li class="contact__occasion-input">
				<input name="checkbox[]" type="checkbox" class="checkbox" id="checkbox-2"/>
				<label for="checkbox-2" class="contact__occasion-text">Collaboration</label>
			</li>
			<li class="contact__occasion-input">
				<input name="checkbox[]" type="checkbox" class="checkbox" id="checkbox-3"/>
				<label for="checkbox-3" class="contact__occasion-text">Mobile App Design</label>
			</li>
			<li class="contact__occasion-input">
				<input name="checkbox[]" type="checkbox" class="checkbox" id="checkbox-4"/>
				<label for="checkbox-4" class="contact__occasion-text">Others</label>
			</li>
		</ul>
	</div>
	<!-- <div class="contact__price">
		<p class="contact__price-title">Your Budget</p>
		<p class="contact__price-subtitle">Slide to indicate your budget range</p>
		<input type="range" name="price" id="input-price" class="contact__price-input" min="0" max="15000" value="0">
	</div> -->
  <div class="contact__message">
    <p class="contact__message-title">Your Message</p>
    <textarea placeholder="Type here" class="contact__message-input"></textarea>
  </div>
	<button class="contact__button">Submit</button>
</form>
