<div class="design__services">
	<div class="design__top">
    <h2 class="design__title">Design</h2>
    <p class="design__subtitle">
      At Squareup, our design team is passionate about creating stunning,
      user-centric designs that captivate your audience and elevate your brand. We
      believe that great design is not just about aesthetics; it's about creating
      seamless and intuitive user experiences.
    </p>
    <p class="design__info">Our design services include:</p>
  </div>
	<h4 class="design__category-title">User Experience (UX) Design</h4>
	<ul class="design__category">
		<li class="design__category-card">
			<img
				src="../assets/images/icon51.svg"
				alt=""
				class="design__category-icon"
			/>
			<p class="design__category-text">User Research and Persona Development</p>
		</li>
		<li class="design__category-card">
			<img
				src="../assets/images/icon15.svg"
				alt=""
				class="design__category-icon"
			/>
			<p class="design__category-text">
				Information Architecture and Wireframing
			</p>
		</li>
		<li class="design__category-card">
			<img
				src="../assets/images/icon16.svg"
				alt=""
				class="design__category-icon"
			/>
			<p class="design__category-text">
				Interactive Prototyping and User Testing
			</p>
		</li>
		<li class="design__category-card">
			<img
				src="../assets/images/icon17.svg"
				alt=""
				class="design__category-icon"
			/>
			<p class="design__category-text">UI Design and Visual Branding</p>
		</li>
	</ul>
	<h4 class="design__category-title">User Interface (UI) Design</h4>
	<ul class="design__category">
		<li class="design__category-card">
			<img
				src="../assets/images/icon18.svg"
				alt=""
				class="design__category-icon"
			/>
			<p class="design__category-text">
				Intuitive and Visually Appealing Interface Design
			</p>
		</li>
		<li class="design__category-card">
			<img
				src="../assets/images/icon19.svg"
				alt=""
				class="design__category-icon"
			/>
			<p class="design__category-text">Custom Iconography and Illustration</p>
		</li>
		<li class="design__category-card">
			<img
				src="../assets/images/icon20.svg"
				alt=""
				class="design__category-icon"
			/>
			<p class="design__category-text">
				Typography and Color Palette Selection
			</p>
		</li>
		<li class="design__category-card">
			<img
				src="../assets/images/icon21.svg"
				alt=""
				class="design__category-icon"
			/>
			<p class="design__category-text">Responsive Design for Various Devices</p>
		</li>
	</ul>
	<h4 class="design__category-title">Branding and Identity</h4>
	<ul class="design__category">
		<li class="design__category-card">
			<img
				src="../assets/images/icon22.svg"
				alt=""
				class="design__category-icon"
			/>
			<p class="design__category-text">
				Logo Design and Visual Identity Development
			</p>
		</li>
		<li class="design__category-card">
			<img
				src="../assets/images/icon23.svg"
				alt=""
				class="design__category-icon"
			/>
			<p class="design__category-text">Brand Strategy and Positioning</p>
		</li>
		<li class="design__category-card">
			<img
				src="../assets/images/icon24.svg"
				alt=""
				class="design__category-icon"
			/>
			<p class="design__category-text">Brand Guidelines and Style Guides</p>
		</li>
		<li class="design__category-card">
			<img
				src="../assets/images/icon25.svg"
				alt=""
				class="design__category-icon"
			/>
			<p class="design__category-text">
				Marketing Collateral Design (Brochures, Business Cards, etc.)
			</p>
		</li>
	</ul>
</div>
