<div class="engineering__services">
	<div class="engineering__top">
    <h2 class="engineering__title">Engineering</h2>
    <p class="engineering__subtitle">
      Our engineering team combines technical expertise with a passion for
      innovation to build robust and scalable digital solutions. We leverage the
      latest technologies and best practices to deliver high-performance
      applications tailored to your specific needs.
    </p>
    <p class="engineering__info">Our engineering services include:</p>
  </div>
	<h4 class="engineering__category-title">Web Development</h4>
	<ul class="engineering__category">
		<li class="engineering__category-card">
			<img
				src="../assets/images/icon26.svg"
				alt=""
				class="engineering__category-icon"
			/>
			<p class="engineering__category-text">
				Front-End Development (HTML, CSS, JavaScript)
			</p>
		</li>
		<li class="engineering__category-card">
			<img
				src="../assets/images/icon27.svg"
				alt=""
				class="engineering__category-icon"
			/>
			<p class="engineering__category-text">
				Back-End Development (PHP, Python, Ruby)
			</p>
		</li>
		<li class="engineering__category-card">
			<img
				src="../assets/images/icon28.svg"
				alt=""
				class="engineering__category-icon"
			/>
			<p class="engineering__category-text">
				Content Management System (CMS) Development (WordPress, Drupal)
			</p>
		</li>
		<li class="engineering__category-card">
			<img
				src="../assets/images/icon30.svg"
				alt=""
				class="engineering__category-icon"
			/>
			<p class="engineering__category-text">
				E-Commerce Platform Development (Magento, Shopify)
			</p>
		</li>
	</ul>
	<h4 class="engineering__category-title">Mobile App Development</h4>
	<ul class="engineering__category">
		<li class="engineering__category-card">
			<img
				src="../assets/images/icon31.svg"
				alt=""
				class="engineering__category-icon"
			/>
			<p class="engineering__category-text">
				Native iOS and Android App Development
			</p>
		</li>
		<li class="engineering__category-card">
			<img
				src="../assets/images/icon32.svg"
				alt=""
				class="engineering__category-icon"
			/>
			<p class="engineering__category-text">
				Cross-Platform App Development (React Native, Flutter)
			</p>
		</li>
		<li class="engineering__category-card">
			<img
				src="../assets/images/icon33.svg"
				alt=""
				class="engineering__category-icon"
			/>
			<p class="engineering__category-text">
				App Prototyping and UI/UX Design Integration
			</p>
		</li>
		<li class="engineering__category-card">
			<img
				src="../assets/images/icon34.svg"
				alt=""
				class="engineering__category-icon"
			/>
			<p class="engineering__category-text">
				App Testing, Deployment, and Maintenance
			</p>
		</li>
	</ul>
	<h4 class="engineering__category-title">Custom Software Development</h4>
	<ul class="engineering__category">
		<li class="engineering__category-card">
			<img
				src="../assets/images/icon35.svg"
				alt=""
				class="engineering__category-icon"
			/>
			<p class="engineering__category-text">Enterprise Software Development</p>
		</li>
		<li class="engineering__category-card">
			<img
				src="../assets/images/icon36.svg"
				alt=""
				class="engineering__category-icon"
			/>
			<p class="engineering__category-text">
				Custom Web Application Development
			</p>
		</li>
		<li class="engineering__category-card">
			<img
				src="../assets/images/icon37.svg"
				alt=""
				class="engineering__category-icon"
			/>
			<p class="engineering__category-text">
				Integration with Third-Party APIs and Systems
			</p>
		</li>
		<li class="engineering__category-card">
			<img
				src="../assets/images/icon38.svg"
				alt=""
				class="engineering__category-icon"
			/>
			<p class="engineering__category-text">
				Legacy System Modernization and Migration
			</p>
		</li>
	</ul>
</div>
