<footer class="footer">
			<div class="container">
				<div class="footer__nav">
					<img src="../assets/images/Logo-6.svg" alt="" class="footer__nav-logo" />
					<ul class="footer__nav-list">
						<li class="footer__nav-item">
							<a href="index.html" class="footer__nav-link">Home</a>
						</li>
						<li class="footer__nav-item">
							<a href="services.html" class="footer__nav-link">Services</a>
						</li>
						<li class="footer__nav-item">
							<a href="works.html" class="footer__nav-link">Work</a>
						</li>
						<li class="footer__nav-item">
							<a href="process.html" class="footer__nav-link">Process</a>
						</li>
						<li class="footer__nav-item">
							<a href="about.html" class="footer__nav-link">About</a>
						</li>
					</ul>
					<div class="footer__contacts">
						<p class="footer__contacts-text">Stay Connected</p>
						<button class="footer__contacts-button">
							<img
								src="../assets/images/icon3.svg"
								alt=""
								class="footer__contacts-icon"
							/>
						</button>
						<button class="footer__contacts-button">
							<img
								src="../assets/images/icon1.svg"
								alt=""
								class="footer__contacts-icon"
							/>
						</button>
						<button class="footer__contacts-button">
							<img
								src="../assets/images/icon2.svg"
								alt=""
								class="footer__contacts-icon"
							/>
						</button>
					</div>
				</div>
				<div class="footer__connection">
					<ul class="footer__connection-list">
						<li class="footer__connection-item">
							<img src="../assets/images/icon4.svg" alt="" class="footer__connection-icon">
							<p class="footer__connection-text">hello@squareup.com</p>
						</li>
						<li class="footer__connection-item">
							<img src="../assets/images/icon5.svg" alt="" class="footer__connection-icon">
							<p class="footer__connection-text">+91 91813 23 2309</p>
						</li>
						<li class="footer__connection-item">
							<img src="../assets/images/icon6.svg" alt="" class="footer__connection-icon">
							<p class="footer__connection-text">Somewhere in the World</p>
						</li>
					</ul>
					<p class="footer__copywriting">© 2023 SquareUp. All rights reserved.</p>
				</div>
			</div>
		</footer>