<header class="header">
  <div class="header__flex">
    <img src="../assets/images/Logo-6.svg" alt="" class="header__logo">
    <ul class="header__nav-list">
      <li class="header__nav-item"><a id="Home" href="index.html" class="header__nav-link">Home</a></li>
      <li class="header__nav-item"><a id="Services" href="services.html" class="header__nav-link">Services</a></li>
      <li class="header__nav-item"><a id="Work" href="works.html" class="header__nav-link">Work</a></li>
      <li class="header__nav-item"><a id="Process" href="process.html" class="header__nav-link">Process</a></li>
      <li class="header__nav-item"><a id="About" href="about.html" class="header__nav-link">About</a></li>
    </ul>
    <button class="header__nav-button">Contact Us</button>
  </div>
</header>
