<section class="hero container">{{> hero }}</section>
<section class="aside container">{{> aside }}</section>
<section class="services container">{{> services }}</section>
<section class="why-choose container">{{> why-choose }}</section>
<section class="testimonials container">{{> testimonials }}</section>
<section class="faq container">{{> faq }}</section>
<section class="contact container">{{> contact }}</section>
<section class="popup-register container" id="dialog-screen">{{> popup-register }} </section>