<dialog class="register__form" id="dialog">
	<div class="register__form-name">
		<p class="register__form-type">Full Name</p>
		<input type="text" class="register__form-input" placeholder="Type here" />
	</div>
	<div class="register__form-email">
		<p class="register__form-type">Email</p>
		<input type="email" class="register__form-input" placeholder="Type here" />
	</div>
  <div class="register__form-email">
		<p class="register__form-type">Phone</p>
		<input type="email" class="register__form-input" placeholder="Type here" />
	</div>
	<div class="buttons__popup">
    <button class="register__button">Sigh Up</button>
      <button class="close__button" id="close">Close</button>
  </div>
</dialog>
