<div class="project__services">
	<div class="project__top">
    <h2 class="project__title">Project Management</h2>
    <p class="project__subtitle">
      Our experienced project management team ensures that your projects are
      delivered on time, within budget, and according to your specifications. We
      follow industry-standard methodologies and employ effective communication
      and collaboration tools to keep you informed throughout the development
      process.
    </p>
    <p class="project__info">Our project management services include:</p>
  </div>
	<h4 class="project__category-title">Project Planning and Scoping</h4>
	<ul class="project__category">
		<li class="project__category-card">
			<img
				src="../assets/images/icon39.svg"
				alt=""
				class="project__category-icon"
			/>
			<p class="project__category-text">Requirements Gathering and Analysis</p>
		</li>
		<li class="project__category-card">
			<img
				src="../assets/images/icon40.svg"
				alt=""
				class="project__category-icon"
			/>
			<p class="project__category-text">
				Project Roadmap and Timeline Development
			</p>
		</li>
		<li class="project__category-card">
			<img
				src="../assets/images/icon41.svg"
				alt=""
				class="project__category-icon"
			/>
			<p class="project__category-text">
				Resource Allocation and Task Assignment
			</p>
		</li>
		<li class="project__category-card">
			<img
				src="../assets/images/icon42.svg"
				alt=""
				class="project__category-icon"
			/>
			<p class="project__category-text">
				Risk Assessment and Mitigation Strategies
			</p>
		</li>
	</ul>
	<h4 class="project__category-title">Agile Development</h4>
	<ul class="project__category">
		<li class="project__category-card">
			<img
				src="../assets/images/icon43.svg"
				alt=""
				class="project__category-icon"
			/>
			<p class="project__category-text">Iterative Development and Sprints</p>
		</li>
		<li class="project__category-card">
			<img
				src="../assets/images/icon44.svg"
				alt=""
				class="project__category-icon"
			/>
			<p class="project__category-text">
				Scrum or Kanban Methodology Implementation
			</p>
		</li>
		<li class="project__category-card">
			<img
				src="../assets/images/icon45.svg"
				alt=""
				class="project__category-icon"
			/>
			<p class="project__category-text">Regular Progress Updates and Demos</p>
		</li>
		<li class="project__category-card">
			<img
				src="../assets/images/icon46.svg"
				alt=""
				class="project__category-icon"
			/>
			<p class="project__category-text">
				Continuous Improvement and Feedback Incorporation
			</p>
		</li>
	</ul>
	<h4 class="project__category-title">Quality Assurance and Testing</h4>
	<ul class="project__category">
		<li class="project__category-card">
			<img
				src="../assets/images/icon47.svg"
				alt=""
				class="project__category-icon"
			/>
			<p class="project__category-text">Test Planning and Execution</p>
		</li>
		<li class="project__category-card">
			<img
				src="../assets/images/icon48.svg"
				alt=""
				class="project__category-icon"
			/>
			<p class="project__category-text">Functional and Usability Testing</p>
		</li>
		<li class="project__category-card">
			<img
				src="../assets/images/icon49.svg"
				alt=""
				class="project__category-icon"
			/>
			<p class="project__category-text">Performance and Security Testing</p>
		</li>
		<li class="project__category-card">
			<img
				src="../assets/images/icon50.svg"
				alt=""
				class="project__category-icon"
			/>
			<p class="project__category-text">Bug Tracking and Issue Resolution</p>
		</li>
	</ul>
</div>
