<div class="testimonial__top">
  <h2 class="testimonials__title">What our Clients say About us</h2>
  <p class="testimonials__subtitle">At SquareUp, we take pride in delivering exceptional digital products and services that drive success for our clients. Here's what some of our satisfied clients have to say about their experience working with us</p>
</div>
<ul class="testimonial__cards">
  <li class="testimonial__card">
    <h3 class="testimonial__card-title">SquareUp has been Instrumental in Transforming our Online Presence.</h3>
    <p class="testimonial__card-text">Their team's expertise in web development and design resulted in a visually stunning and user-friendly e-commerce platform. Our online sales have skyrocketed, and we couldn't be happier.</p>
    <div class="testimonial__card-bottom">
      <div class="testimonial__card-author">
        <img src="../assets/images/Profile-5.jpg" alt="" class="testimonial__card-photo">
        <div class="testimonial__card-info">
          <p class="testimonial__card-name">John Smith</p>
          <p class="testimonial__card-profession">CEO of Chic Boutique</p>
        </div>
      </div>
      <button class="testimonial__card-button">Open Website</button>
    </div>
  </li>
  <li class="testimonial__card">
    <h3 class="testimonial__card-title">Working with SquareUp was a breeze.</h3>
    <p class="testimonial__card-text">They understood our vision for a mobile app that streamlined our food delivery service. The app they delivered exceeded our expectations, and our customers love the seamless ordering experience. SquareUp is a trusted partner we highly recommend.</p>
    <div class="testimonial__card-bottom">
      <div class="testimonial__card-author">
        <img src="../assets/images/Profile-4.jpg" alt="" class="testimonial__card-photo">
        <div class="testimonial__card-info">
          <p class="testimonial__card-name">Sarah Johnson</p>
          <p class="testimonial__card-profession">Founder of HungryBites.</p>
        </div>
      </div>
      <button class="testimonial__card-button">Open Website</button>
    </div>
  </li>
  <li class="testimonial__card">
    <h3 class="testimonial__card-title">SquareUp developed a comprehensive booking and reservation system for our event management company</h3>
    <p class="testimonial__card-text">Their attention to detail and commitment to delivering a user-friendly platform was evident throughout the project. The system has streamlined our operations and enhanced our clients' event experiences.</p>
    <div class="testimonial__card-bottom">
      <div class="testimonial__card-author">
        <img src="../assets/images/Profile-2.jpg" alt="" class="testimonial__card-photo">
        <div class="testimonial__card-info">
          <p class="testimonial__card-name">Mark Thompson</p>
          <p class="testimonial__card-profession">CEO of EventMasters</p>
        </div>
      </div>
      <button class="testimonial__card-button">Open Website</button>
    </div>
  </li>
  <li class="testimonial__card">
    <h3 class="testimonial__card-title">ProTech Solutions turned to SquareUp to automate our workflow</h3>
    <p class="testimonial__card-text">They delivered an exceptional custom software solution. The system has significantly increased our productivity and reduced manual errors. SquareUp's expertise and professionalism have made them a trusted technology partner.</p>
    <div class="testimonial__card-bottom">
      <div class="testimonial__card-author">
        <img src="../assets/images/Profile-3.jpg" alt="" class="testimonial__card-photo">
        <div class="testimonial__card-info">
          <p class="testimonial__card-name">Laura Adams</p>
          <p class="testimonial__card-profession">COO of ProTech Solutions.</p>
        </div>
      </div>
      <button class="testimonial__card-button">Open Website</button>
    </div>
  </li>
  <li class="testimonial__card">
    <h3 class="testimonial__card-title">SquareUp designed and developed a captivating web portal for showcasing our real estate listings.</h3>
    <p class="testimonial__card-text">The platform is visually appealing and easy to navigate, allowing potential buyers to find their dream homes effortlessly. SquareUp's expertise in the real estate industry is unmatched.</p>
    <div class="testimonial__card-bottom">
      <div class="testimonial__card-author">
        <img src="../assets/images/Profile.jpg" alt="" class="testimonial__card-photo">
        <div class="testimonial__card-info">
          <p class="testimonial__card-name">Michael Anderson</p>
          <p class="testimonial__card-profession">Founder of Dream Homes Realty.</p>
        </div>
      </div>
      <button class="testimonial__card-button">Open Website</button>
    </div>
  </li>
  <li class="testimonial__card">
    <h3 class="testimonial__card-title">FitLife Tracker wanted a mobile app that tracked fitness activities and provided personalized workout plans.</h3>
    <p class="testimonial__card-text">SquareUp's team developed an intuitive and feature-rich app that has helped our users stay motivated and achieve their fitness goals. We highly recommend SquareUp for any health and fitness app development needs.</p>
    <div class="testimonial__card-bottom">
      <div class="testimonial__card-author">
        <img src="../assets/images/Profile-1.jpg" alt="" class="testimonial__card-photo">
        <div class="testimonial__card-info">
          <p class="testimonial__card-name">Emily Turner</p>
          <p class="testimonial__card-profession">CEO of FitLife Tracker</p>
        </div>
      </div>
      <button class="testimonial__card-button">Open Website</button>
    </div>
  </li>
</ul>