<div class="whtChoose__top">
  <h2 class="whyChoose__title">Why Choose SquareUp?</h2>
  <p class="whyChoose__subtitle">Experience excellence in digital craftsmanship with our team of skilled professionals dedicated to delivering exceptional results.</p>
</div>
<ul class="whyChoose__cards">
  <li class="whyChoose__card">
    <div class="whyChoose__card-top">
      <img src="../assets/images/icon11.svg" alt="" class="whyChoose__card-icon">
      <h4 class="whyChoose__card-title">Expertise</h4>
    </div>
    <p class="whyChoose__card-text">Our team consists of highly skilled professionals who have a deep understanding of the digital landscape. We stay updated with the latest industry trends and best practices to deliver cutting-edge solutions.</p>
  </li>
  <li class="whyChoose__card">
    <div class="whyChoose__card-top">
      <img src="../assets/images/icon10.svg" alt="" class="whyChoose__card-icon">
      <h4 class="whyChoose__card-title">Client-Centric Approach</h4>
    </div>
    <p class="whyChoose__card-text">We prioritize our clients and their unique needs. We listen to your ideas, challenges, and goals, and tailor our services to meet your specific requirements. Your success is our success.</p>
  </li>
  <li class="whyChoose__card">
    <div class="whyChoose__card-top">
      <img src="../assets/images/icon9.svg" alt="" class="whyChoose__card-icon">
      <h4 class="whyChoose__card-title">Results-Driven Solutions</h4>
    </div>
    <p class="whyChoose__card-text">Our primary focus is on delivering results. We combine creativity and technical expertise to create digital products that drive business growth, enhance user experiences, and provide a competitive advantage.</p>
  </li>
  <li class="whyChoose__card">
    <div class="whyChoose__card-top">
      <img src="../assets/images/icon8.svg" alt="" class="whyChoose__card-icon">
      <h4 class="whyChoose__card-title">Collaborative Partnership</h4>
    </div>
    <p class="whyChoose__card-text">We value long-term relationships with our clients. We see ourselves as your digital partner, providing ongoing support, maintenance, and updates to ensure your digital products continue to thrive.</p>
  </li>
</ul>